* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.header {
    height: 5vh;
    background-color: #242A2E;
    color: white;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item {
    display: flex;
    align-items: center;
}
.github-icon {
    font-size: 26px;
}
.github-icon:hover {
    color: #858688;
}
.searchbar {
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #444E56;
    border-radius: 5px;
    margin: 0px 10px;
}
.searchbar input {
    padding: 2px 5px;
    background: transparent;
    color: white;
    border: none;
}
.searchbar div {
    border: solid 1px #444E56;
    border-radius: 5px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.navigation-link {
    display: flex;
}
a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
a:hover {
    color: #858688;
}
.action-right {
    display: flex;
    font-size: 10px;
}
.action-right div{
    padding: 0px 6px;
}
.action-right div:hover{
    color: #858688;
}
.static-header {
    padding: 0 25px;
    height: 5vh;
    border-bottom: solid 1px #E9ECEF;
    display: flex;
    align-items: center;
}
.user-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 25%;
}
.avatar-medium {
    height: 30px;
    width: 30px;
    object-fit: cover;
    border-radius: 50%;
}
.user-info span {
    padding: 0 10px;
}
.tabs {
    display: flex;
    height: 100%;
    align-items: center;
}
.tab-item {
    margin: 0 10px;
    display: flex;
}
.tab-item span {
    padding: 0 5px;
}
.repo-count {
    background-color: #E7EAEC;
    padding: 0 2px;
    border-radius: 10px;
}
.active-tab {
    height: 100%;
    border-bottom: solid 2px #F9826C;
}
.scrollable-content {
    padding: 0 25px;
    display: flex;
}
.user-details {
    width: 25%;
}
.avatar-large {
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 50%;
}
.user-fullname {
    font-size: 18px;
    font-weight: bold;
}
.user-role {
    margin: 20px 0;
    font-size: 14px;
}
.repositories-listing {
    width: 55%;
    padding-right: 25px;
}
.search-repo {
    width: 100%;
}
.search-repo input {
    width: 100%;
    border: none;
    border: solid 1px #E1E4E8;
    border-radius: 5px;
    padding: 5px 10px;
}
.repo-title {
    color: #0366D6;
    font-weight: bold;
}
.repo-title:hover {
    text-decoration: underline;
    cursor: pointer;
}
.repo-holder {
    max-width: 80%;
}
.indicator{
    height: 15px;
    width: 15px;
    border-radius: 50%;
}



.flex {
    display: flex;
}
.flex-justify-space-between {
    justify-content: space-between;
}
.flex-justify-start {
    justify-content: flex-start;
}
.flex-align-items-center {
    align-items: center;
}
.text-grey {
    color: #949DA5;
}
.text-grey-dark {
    color: #576169
}
.section-divider {
    padding: 20px 0;
    border-bottom: solid 1px #E1E4E8;
}
.btn {
    background-color: #FAFBFC;
    border: solid 1px #D8DBDB;
    padding: 5px 15px;
    border-radius: 5px;
}
.padding-horizontal-10 {
    padding: 10px 0;
}
.margin-vertical-10 {
    margin: 0 10px;
}

.margin-right-10 {
    margin-right: 10px;
}
.padding-all-25 {
    padding: 25px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
}
.show {
    visibility: visible;
}
.hide {
    visibility: hidden;
}