* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.header {
    height: 5vh;
    background-color: #242A2E;
    color: white;
    padding: 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-item {
    display: flex;
    align-items: center;
}
.github-icon {
    font-size: 26px;
}
.searchbar {
    padding: 3px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: solid 1px #444E56;
    border-radius: 5px;
    margin: 0px 10px;
}
.searchbar input {
    padding: 2px 5px;
    background: transparent;
    color: white;
    border: none;
}
.searchbar div {
    border: solid 1px #444E56;
    border-radius: 5px;
    width: 20px;
    display: flex;
    justify-content: center;
}
.navigation-link {
    display: flex;
}
a {
    color: white;
    text-decoration: none;
    padding-right: 10px;
}
a:hover {
    color: #858688;
}